<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <title>practica01</title>
</head>
.nombre, .descripcion  {color:green}
input.nombre, .texto  {background-color:lightgrey;color:blue;}
.precio {background-color: red;font-family:Arial;font-weight: bold;}
.descuento1 {border-top: green 5px dotted;border-bottom:green 5px dotted;
border-left:green 5px dotted;border-right:green 5px dotted;}
legend {color: violet;}
label {color:blue;text-decoration: underline;}

<body>
</body>
</html>
